astroid==1.4.6
bottle==0.12.9
cffi==1.6.0
colorama==0.3.7
coverage==4.1
CoverageTestRunner==1.11
cryptography==1.4
enum34==1.1.6
flup==1.0.2
idna==2.1
ipaddress==1.0.16
lazy-object-proxy==1.2.2
pep8==1.7.0
pyasn1==0.1.9
pycparser==2.14
PyJWT==1.4.0
pylint==1.5.6
six==1.10.0
wrapt==1.10.8
