Source: qvarn
Maintainer: Tilaajavastuu <tilaajavastuu.hifi@tilaajavastuu.fi>
Uploaders: Lars Wirzenius <lars.wirzenius@tilaajavastuu.fi>
Section: web
Priority: optional
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 9), python-all (>= 2.6.6-3~),
  python-coverage-test-runner, pep8, pylint, python-psycopg2
X-Python-Version: >= 2.6

Package: qvarn
Provides: unified-api-backend-postgresql
Conflicts: unified-api-backend-postgresql
Replaces: unified-api-backend-postgresql
Architecture: all
Depends: ${python:Depends}, ${misc:Depends},
 python (>= 2.6),
 python-jwt (>= 1.3.0),
 python-cryptography (>= 0.8),
 python-bottle,
 python-psycopg2,
 python-uwsgidecorators
Description: web service backend for structured data storage
 This is a backend service for storing structured (JSON) and some
 associated binary data using a REST-ful HTTP API and OpenID Connect
 authentication.
